@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Global resets ===== */
html,
body {
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
}

/* ===== Scrollbar (optional) ===== */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #2f3336;
  border-radius: 9999px;
}
