:root {
  --background: #000000;
  --foreground: #ffffff;

  --card: #000000;
  --card-foreground: #ffffff;

  --border: rgba(255, 255, 255, 0.15);
  --input: rgba(255, 255, 255, 0.15);
  --ring: rgba(255, 255, 255, 0.25);
}

.dark {
  --background: #000000;
  --foreground: #ffffff;

  --card: #000000;
  --card-foreground: #ffffff;

  --border: rgba(255, 255, 255, 0.15);
  --input: rgba(255, 255, 255, 0.15);
  --ring: rgba(255, 255, 255, 0.25);
}
